<div class="pdf-section">
  <h2>Cricket Insights</h2>
  <div class="row">
    <div class="col-6"><img
        src="https://media.istockphoto.com/id/1176722220/photo/empty-green-grass-field-and-illuminated-outdoor-stadium-with-fans-front-field-view.jpg?s=1024x1024&w=is&k=20&c=Lrk74SasHVnPWh8X4gKWshlAKhoBVczhBDDUZRL18K8="
        alt="Cricket Stadium" class="tab-image" width="100%" height="430px" /></div>
    <div class="col-6">
      <p>Cricket is more than a sport—it's a passion celebrated across the world, especially in countries like India,
        Australia, and England.
      </p>
      <p>
        From nail-biting test matches to thrilling T20s, cricket delivers unforgettable moments and rising stars like
        Virat Kohli, Babar Azam, and Pat Cummins.
      </p>
    </div>
  </div>
  <p>
    <a href="https://www.espncricinfo.com/" target="_blank" class="tab-link">🏏 Visit ESPN CricInfo</a>
  </p>
</div>
